{% extends "_base.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Iniciar proceso de titulación</h3>
                </div>
                <div class="panel-body">
                    <form role="form" action="{% url 'start_graduation_process' %}" method="POST">
                        {% load customfilters %}
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-10 col-md-offset-1{% if form.student.errors %} has-error{% endif %}">
                                <label class="control-label" for="{{ form.student.label }}">{{ form.student.label }}</label>
                                {{ form.student|addclass:'form-control' }}
                                {% if form.student.help_text %}
                                    <p class="help-block">{{ form.student.help_text }}</p>
                                {% endif %}
                                {% if form.student.errors %}
                                    <span class="help-block"><strong>{{ form.student.errors }}</strong></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10 col-md-offset-1{% if form.way.errors %} has-error{% endif %}">
                                <label class="control-label" for="{{ form.way.label }}">{{ form.way.label }}</label>
                                {{ form.way|addclass:'form-control' }}
                                {% if form.way.help_text %}
                                    <p class="help-block">{{ form.way.help_text }}</p>
                                {% endif %}
                                {% if form.way.errors %}
                                    <span class="help-block"><strong>{{ form.way.errors }}</strong></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10 col-md-offset-1{% if form.professor.errors %} has-error{% endif %}">
                                <label class="control-label" for="{{ form.professor.label }}">{{ form.professor.label }}</label>
                                {{ form.professor|addclass:'form-control' }}
                                {% if form.professor.help_text %}
                                    <p class="help-block">{{ form.professor.help_text }}</p>
                                {% endif %}
                                {% if form.professor.errors %}
                                    <span class="help-block"><strong>{{ form.professor.errors }}</strong></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10 col-md-offset-1{% if form.c_professor.errors %} has-error{% endif %}">
                                <label class="control-label" for="{{ form.c_professor.label }}">{{ form.c_professor.label }}</label>
                                {{ form.c_professor|addclass:'form-control' }}
                                {% if form.c_professor.help_text %}
                                    <p class="help-block">{{ form.c_professor.help_text }}</p>
                                {% endif %}
                                {% if form.c_professor.errors %}
                                    <span class="help-block"><strong>{{ form.c_professor.errors }}</strong></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-10 col-md-offset-1{% if form.description.errors %} has-error{% endif %}">
                                <label class="control-label" for="{{ form.description.label }}">{{ form.description.label }}</label>
                                {{ form.description|addclass:'form-control' }}
                                {% if form.description.help_text %}
                                    <p class="help-block">{{ form.description.help_text }}</p>
                                {% endif %}
                                {% if form.description.errors %}
                                    <span class="help-block"><strong>{{ form.description.errors }}</strong></span>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="text-center">
                                <button type="submit" class="btn btn-default">Registrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        menu_item = document.getElementById("admin")
        menu_item.setAttribute("class", "active")
        menu_item = document.getElementById("start_graduation_process")
        menu_item.setAttribute("class", "active")
    </script>
{% endblock %}