{% extends "_base.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">Rol</h3>
                        </div>
                        <div class="panel-body">
                                <table class="table table-bordered table-hover table-stripped text-center">
                                    <tbody>
                                        <tr>
                                            <td><strong>{{ group.name }}</strong></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <form action="{% url 'delete_group' %}" method="POST">
                                                    {% csrf_token %}
                                                    <a class="btn btn-warning" href="{% url 'edit_group' group.pk %}">Editar</a>
                                                    <input type="hidden" name="pk" value="{{ group.pk }}">
                                                    <button class="btn btn-danger confirmation" type="submit">Eliminar</button>
                                                </form>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">Buscar Rol</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="{% url 'search_group' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="form-group col-md-10 col-md-offset-1">
                                        {% csrf_token %}
                                        <label class="control-label" for="name">Nombre</label>
                                        <input class="form-control" type="text" name="name" id="name">
                                    </div>
                                </div>
                                <div class="row">
                                    <br>
                                    <div class="form-group col-md-10 col-md-offset-1">
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-default">Buscar</button>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Permisos</h3>
                </div>
                <div class="panel-body">
                        <table class="table table-bordered table-hover table-stripped text-center">
                            <tbody>
                                {% for permission in group.permissions.all %}
                                    <tr>
                                        <td>{{ permission }}</td>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td>No existen permisos asignados a este rol</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>

    <script>
        menu_item = document.getElementById("admin")
        menu_item.setAttribute("class", "active")
        menu_item = document.getElementById("edit_group")
        menu_item.setAttribute("class", "active")
    </script>
{% endblock %}