{% extends "_base.html" %}
{% block body %}
    <div class="row">
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">Información</h3>
                        </div>
                        <div class="panel-body">
                            <table class="table table-bordered table-hover table-stripped">
                                <tbody>
                                    <tr>
                                        <td>Nombre</td>
                                        <td>{{ user.first_name }} {{ user.last_name }}</td>
                                    </tr>
                                    <tr>
                                        <td>RUT</td>
                                        <td>{{ user.username }}</td>
                                    </tr>
                                    <tr>
                                        <td>E-mail</td>
                                        <td>{{ user.email }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" align="center">
                                            <form action="{% url 'delete_professor' %}" method="POST">
                                                {% csrf_token %}
                                                <a class="btn btn-warning" href="{% url 'edit_professor' user.pk %}">Editar</a>
                                                <input type="hidden" name="pk" value="{{ user.pk }}">
                                                <button class="btn btn-danger confirmation" type="submit">Eliminar</button>
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading text-center">
                            <h3 class="panel-title">Buscar Profesor</h3>
                        </div>
                        <div class="panel-body">
                            <form role="form" action="{% url 'search_professor' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="rut">RUT</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" name="rut" id="rut">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="first_name">Nombre</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" name="first_name" id="first_name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2 col-md-offset-1" for="last_name">Apellido</label>
                                    <div class="col-md-8">
                                        <input class="form-control" type="text" name="last_name" id="last_name">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info">Buscar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Foo</h3>
                </div>
                <div class="panel-body">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">

        </div>
    </div>
    <script>
        menu_item = document.getElementById("professor")
        menu_item.setAttribute("class", "active")
        menu_item = document.getElementById("search_professor")
        menu_item.setAttribute("class", "active")
    </script>
{% endblock %}